/* TPYE FONT UTILIZZATO */
    @font-face{
    font-family: "MoreSugar";
    src: url("/Route/more-sugar.regular.ttf") format("truetype");
    }

    *{ 
    box-sizing:border-box; 
    }

/* BODY */
    body{
        margin: 0;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: "MoreSugar", cursive;
        background: url("/Route/HTML/immagini/sfondo.PNG") center/cover no-repeat;
    }

/* CARATTERISTICHE FONT */
    .text_COMP{
        font-size: 3vh;
        cursor: pointer;
        user-select: none;
        color: black;
    }
    .text_COMP_SELECTED{
        font-size: 4.25vh;
        cursor: pointer;
        user-select: none;
        color: black;
    }

/* BACKGROUND APP */
    .BG_APP{
        width: 65vh;
        height: 100vh;
        border-radius: 2.5vh;
        display: flex;
        flex-direction: column;
        align-items: stretch; 
        background-color: white;
        border: 0.3vh solid black;
    }

/* BARRA ICONE */
    .BG_ICONS{
        width: 100%;
        height: 12.5vh;
        border-radius: 2vh;
        margin-top: auto; 
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: #349112;
        border-top: 0.3vh solid #16332d;
    }
    .BG_ICONS img{
        height: 80%;
        width: auto;
        cursor: pointer;
    }

/* SLIDER COMPETENZE */
    .SLIDER{
        width: 100%;
        height: 8vh;;
        padding: 0 1vh 0 1vh;
        margin: 0; 
        margin-top: 0.5vh;
        gap: 6vh;
        display: flex;
        align-items: center;
        overflow-x: auto;   
        overflow-y: hidden;    
        scrollbar-width: none;  
        border-bottom: 0.2vh solid gray;
    }

    /* TITOLO COMPETENZA */
.Titolo_Comp{
    width: 50%;
    min-height: 6vh;
    margin: 2vh auto 1vh auto;
    border-radius: 1vh;
    background-color: #dfeeda;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4vh;
    color: black;
}

/* BOX TASK */
.Box_Task{
    width: 90%;
    height: 63vh;
    margin: 1vh auto;
    background-color: #fff8c9;
    border: 0.25vh solid black;
    border-radius: 1vh;
    padding: 1vh;
    overflow-y: auto;
}

/* TITOLO TASK */
.Titolo_Task{
    margin: 0;
    padding-bottom: 1vh;
    border-bottom: 0.2vh solid #a38c38;
    font-size: 3vh;
    text-align: center;
}

/* LISTA TASK HOME */
#lista_task_home{
    font-size: 2.3vh;
    line-height: 1.5;
}

#lista_task_home ol{
    margin-top: 1vh;
    padding-left: 4vh;
}

#lista_task_home li{
    margin-bottom: 1vh;
}